@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:300,400);



section:nth-child(odd) {
  background: #aeafaf00;
}


.mousebox {
  
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    height: 100px;
    
}

.mouse1 {
  position: relative;
  height: 42px;
  width: 24px;
  border-radius: 40px;
  transform: none;
  border: 2px solid white;
  margin-left: auto;
  margin-right: auto;
}

.mousebox:hover {
  opacity: 0.5;

}

.mouseW {

  height: 5px;
  width: 2px;
  display: block;
  margin: 5px auto;
  background: white;
  position: relative;
  height: 4px;
  width: 4px;
  border: 2px solid #fff;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  -webkit-animation: sdb10 8s infinite;
  animation: sdb10 3s infinite;
}

/*
  -webkit-animation: sdb10 2s infinite;
  animation: sdb10 2s infinite;
 */

@-webkit-keyframes sdb10 {
  0% {
    -webkit-transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    -webkit-transform: translate(0, 14px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes sdb10 {
  0% {
    transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    transform: translate(0, 14px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}



/*Fade In */
#scrollSec{
  -webkit-animation: 3s ease 0s normal forwards 1 fadein;
  animation: 3s ease 0s normal forwards 1 fadein;
}

@keyframes fadein{
  0% { opacity:0; }
  66% { opacity:0; }
  100% { opacity:1; }
}

@-webkit-keyframes fadein{
  0% { opacity:0; }
  66% { opacity:0; }
  100% { opacity:1; }
}