


// delete the following line if no text is used
// edit the line if you wanna use other fonts
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600);
@import url(https://fonts.googleapis.com/css?family=Fredericka+the+Great|Zilla+Slab:300,400);

// use only the available space inside the 400x400 frame











.gradient-border {
  margin: 5em;
  --border-width: 2px;
  display: flex;
  
  
  font-family: Lato, sans-serif;
  font-size: 2.5rem;
  text-transform: uppercase;
  color: white;
  background: #222;
  border-radius: var(--border-width);

  &::after {
    position: absolute;
    content: "";
    top: calc(-1 * var(--border-width));
    left: calc(-1 * var(--border-width));
    z-index: 1;
    width: calc(100% + var(--border-width) * 2);
    height: calc(100% + var(--border-width) * 2);
    background: linear-gradient(
      65deg, 
      #ebe2e2, 
      #a3a3a3, 
      #657377,
      #3f585f, 
      #435b75, 
      rgb(66, 93, 121), 
		  rgb(170, 196, 221), 
      rgb(159, 175, 190),
      rgb(191, 208, 224), 
      #e2d7d7);
    
    background-size: 300% 300%;
    background-position: 0 50%;
    border-radius: calc(2 * var(--border-width));
    animation: moveGradient 30s alternate infinite;

    filter:blur(50px)
  }
}

@keyframes moveGradient {
  50% {
    background-position: 100% 50%;
  }
}
